<<table>
  <tr>
    <th>自己紹介</th>
  </tr>

<% @users.each do |blog| %>
  <tr>
    <td><%= user.introduce %></td>
    <td><%= link_to "自己紹介を編集する", edit_user_path(blog.id) %></td>
  </tr>
<% end %>
</table>



