<%# モールドウィンドウを展開するリンクを設置します。href属性は設定不要です %>
<%# classはボタン用のCSSを当てるために設定しています。 %>
<%# 以下削除選択時モーダルウィンドウ(デフォルトは非表示) %>
  <div id="modal-overlay"> <%# モーダルウィンドウ表示時の黒背景 %>

    <div id="modal-content"> <%# モーダルウィンドウ部 %>
      <div class="modal-message">
        <p>習得レベルを保存しました</p>
      </div>
      <div class="modal-button-area">
        <p><a id="modal-close" class="btn btn--cancel">スキル編集ページに戻る</a></p>
        <%# button_to "スキル編集ページに戻る", edit_skill_path(@skill),class:"back-button" %><%# 削除用のボタン。同じくhref属性不要 %>
      </div>
    </div>
  </div>

