<% @categories.name.each do |categoriy| %>
  <tr>
    <h2><%= category.name %></h2>
    <td><%= link_to 'スキルを追加する', skill_path(skill.id), method: :delete %></td>
  </tr>
  <tr>
    <td>習得スキル</td>　<td>習得レベル</td>
    <td>categoriy.skill.name</td> <td>categoriy.skill.lebel</td>
  </tr>
<% end %>
</table>


