html {
    font-size: 62.5%;
    height: 1548px;
    width: 1440px;
    position: relative;

  }

  body {
    height: 1548px;
  }



header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #1B5678;
  align-items: center;
  position: relative
}

footer {
  background-color: #1B5678;
  color: #FFFFFF;
  height: 40px;
  position: absolute; /* 固定位置に設定 */
  bottom: 0; /* 画面の下に配置 */
  left: 0; /* 左端に配置 */
  right: 0; /* 右端に配置 */
  text-align: center;
  font-size: 18px;
}

.header-button{
  background-color: #fff;
  width:  170px;
  height: 53px;
  border-radius: 4px;
  position:absolute;
  right: 20px;
  bottom:30px;
  font-size: 18px;
}


.title {
  margin-right: auto;
  color: #FFFFFF;
  padding-left: 20px;
  font-size:30px;
}


.form{
  height:245px;
  width:480px;
  position: absolute;
  Top :338px;
  Left:480px;
  Gap:48px;

}

.center-title{
  position: absolute;
  width: 144px;
  height: 48px;
  top: 200px;
  left: 648px;
  font-size: 36px;

}

.submit-button {
  background-color: #1B5678;
  color: #FFFFFF;
  width: 268px;
  height: 53px;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  right: 20%;

}

.input-underline{
  border: none;
  border-bottom: 1px solid black;
  width: 480px;
  margin-bottom: 30px;

}













.button-menu{
  width: 100px;
  height: 43px;
  border-radius: 4px ;
}






.show{
  width: 1,440px;
  height: 811px;
  position: relative;
}



.image{
  height:390px;
  width: 45%;
  float: left;
  margin-right: 10px;

}

.profile{
  height:390px;
  width: 50%;
  float: right;
}


.profile h1 {
  border-bottom: 1px solid #000; /* 下線を追加 */
  width:30%;
}

.edit-button {
  background-color: #1B5678;
  color: #FFFFFF;
  border-radius: 4px ;
  height: 45px;
  margin-left: 0;
}

.profile p{
  height:50px;
}

.user-info{
  width:50%;
}

.rounded-circle{
   border-radius: 50%;
   float: right;
}

.edit-header{
  width:100%;
  height:20%;
  text-align: center;
}

.skill {
  position: absolute;
  width: 960px ;
  height: 331px ;
  gap: 80px ;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  text-align: center;

}

.skill-body{
  position:relative;
  height:151px;
  width:400px;
  margin:auto;
}

.skill-head{
  height:58px;
  width:400px;
  border-bottom: 1px solid #000000;
}

.skill-head h2{
  font-size: 36px;

}

.edit-skill-button{
  position: absolute;
  height:53px;
  width:144px;
  background-color: #1B5678;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  border-radius: 4px;
  color:#FFF;
}

.chart-container{
  position: absolute;
  height:572.5px;
  width: 1081px;
  top:877px;
  left:193px;
}









.aaa{
  height:342px;
  width: 960px;
  margin: auto;
  position: relative;
  display:flex;
  flex-flow: column;
　justify-content:space-between;
}

.user-edit-button {
  background-color: #1B5678;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%; /* 親要素の中央に移動するために左端を50%に */
  transform: translateX(-50%); /* 左に50%移動して中央に配置 */
  width: 322px;
  height: 53px;
  padding: 16px 80px 16px 80px;
  border-radius: 4px;
}

.text-area{
  width: 480px;
  height: 152px;
  gap: 7px;
  margin: auto;
  text-align: left;

}

.text-area-input{
  width: 100%; /* テキストエリアの幅を100%にする */
  border: none; /* ボーダーを削除 */
  border-radius: 0; /* 角の丸みを削除 */
  border-bottom: 1px solid #000; /* 下線を追加 */
  resize: none; /* ユーザーがサイズを変更できないようにする */

}

.image-area{
  height: 48px;
  width: 480px;
  gap: 7px;
  margin: auto;
  text-align: left;
  margin-top: 50px;
}



.custom-file-input {
  display: none;
}

.custom-file-label {
  background-color: #C0C0C0;
  color: #000;
  padding: 5px 10px;
  cursor: pointer;
}






.skill-container {
    width: 960px;
    height: 1338px;
    gap: 80px;
    margin: auto;

}










tbody{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 影を追加 */
　border-radius: 4px;
}




.skill-table tr{
  border-bottom: 1px solid #ccc;
  height: 57px;


}

.header2{
  width: 230px;
}


.skill-table th,
.skill-table td {
    padding: 5px;
    border: none;
    text-align: center;
}


.skill-table-head{
  margin: auto;
  width: 880px;
  height: 48px;
  justify-content: space-between;
  display: flex;
}



.skill-category {
    border: 1px solid black;
    width: 960px;
    height: 436px;
    border-radius: 8px;
    gap: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative;
}




.skill-card{
  margin: auto;
  height: 356px;
  overflow-x: scroll;

}

.skill-table {
    width: 880px;
    height: 283px;
    border-collapse: collapse;
    margin: auto;


}






.thead {
  display: flex;
  position: relative;
  height:48px;
  margin-bottom: 40px;
}

.category-name {
  flex-grow: 1;
  position: absolute;
  left: 0px;
  width: 240px;
  height: 44px;
  padding-bottom: 1px; /* テキストの下に 1px の余白を追加 */
  border-bottom: 1px solid #000;
  box-sizing: border-box; /* パディングとボーダーを高さに含める */
}


.name{
  font-size: 24px;
  margin-top: 0px;

}

.button-container {
  flex-grow: 1;
  position: absolute;
  right: -40px;
  width: 192px;
  height: 48px;
}

.skill-button{
  width: 100%;
  height: 100%;
  background-color: #1B5678;
  color: #FFFFFF;
  border-radius: 4px;
  font-size:14px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 20%;
  display: flex; /* フレックスコンテナを作成 */
  justify-content: center; /* テキストを水平方向に中央配置 */
  align-items: center;

}



.update-button{
  display: block;
  width: 172px;
  height: 32px;
  background-color: #1B5678;
  color: #fff;
  border-radius: 4px;
  border:none;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
}

.delete-button{
  display: block;
  width: 172px;
  height: 32px;
  background-color: #EE6969;
  color: #fff;
  border-radius: 4px;
  border:none;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;

}

.btn--edit{
background-color: #1B5678;
  color: #fff;
  width: 234px;
  height: 48px;
  border-radius: 4px;
  margin: 20px 0; /* 上下のマージンを追加 */

}

select{
  width: 160px;
  height: 40px;
  gap:10px;
}









#modal-overlay-update {
  display: none;  /* デフォルトは非表示 */
  z-index: 1;      /* モーダルウィンドウと通常画面の間に表示 */
  position: fixed; /* 表示を固定してスクロールで動かさない */
  top: 0;          /* 全画面表示なので0 */
  left: 0;         /* 全画面表示なので0 */
  width: 100%;     /* 全画面表示なので100% */
  height: 100%;    /* 全画面表示なので100%。スマートフォンでの表示対応する場合は120%に */
  background-color: rgba(0,0,0,0.75); /* 背景を黒の半透明に */
}

#modal-overlay-delete {
  display: none;  /* デフォルトは非表示 */
  z-index: 1;      /* モーダルウィンドウと通常画面の間に表示 */
  position: fixed; /* 表示を固定してスクロールで動かさない */
  top: 0;          /* 全画面表示なので0 */
  left: 0;         /* 全画面表示なので0 */
  width: 100%;     /* 全画面表示なので100% */
  height: 100%;    /* 全画面表示なので100%。スマートフォンでの表示対応する場合は120%に */
  background-color: rgba(0,0,0,0.75); /* 背景を黒の半透明に */
}

#modal-overlay-create{
  display: none;/* デフォルトは非表示 */
  z-index: 1;      /* モーダルウィンドウと通常画面の間に表示 */
  position: fixed; /* 表示を固定してスクロールで動かさない */
  top: 0;          /* 全画面表示なので0 */
  left: 0;         /* 全画面表示なので0 */
  width: 100%;     /* 全画面表示なので100% */
  height: 100%;    /* 全画面表示なので100%。スマートフォンでの表示対応する場合は120%に */
  background-color: rgba(0,0,0,0.75); /* 背景を黒の半透明に */
}



#modal-content {
  z-index: 2;      /* 最前面に表示 */
  position: fixed; /* 表示位置を固定 */
  top: 50%;        /* 画面中央に表示 */
  left: 50%;       /* 画面中央に表示 */
  transform: translate(-50%, -50%); /* モーダルウィンドウの大きさ分中央にずらす */
  /* 以下はモーダルウィンドウの外観。ご自由に */
  width: 640px;
  height:240px;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  border-radius: 5px;
  background: #fff;
}




.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景色 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* アラートを最前面に表示 */
}

.center-alert {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 80%;
  width: 640px;
  height:240px;
  font-size:18px;
  display: flex;
  flex-direction: column; /* アイテムを縦方向に配置 */
  align-items: center; /* アイテムを中央に配置 */
  justify-content: space-between; /* 上下に均等なスペースを割り当て */ /* コンテナ要素全体を占める高さ */
}


.alert{
  width: 345px;
  height: 52px;
  text-align: center;
  font-size: 18px;
  margin-top: 50px;


}

.btn--cancel{
  border-bottom: none;

}

















.skill-new-head h1{
  font-size:36px;
  position: absolute;
  width: 502px;
  height: 48px;
  top: 200px;
  left: 469px;
}

.skill-new-body{
  position: absolute;
  width:  480px;
  height:  268px;
  top: 328px;
  left: 480px;
  gap: 48px;


}


.name-area{
  height: 48px;
  width: 100%;
  margin-bottom: 35px;

}

.lebel-area{
  height: 72px;
  width: 100%;
  margin-bottom: 35px;

}

.custom-input {
  width: 100%;
  border: none; /* ボーダーを非表示にする */
  border-bottom: 1px solid #ccc;/* その他のスタイル設定（フォントサイズ、マージンなど） */
}

.new-button{
  height: 53px;
  width:232px;
  background-color: #1B5678;
  color: #FFFFFF;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  border-radius: 4px;
  color:#FFF;
}

.custom-select {
  width: 100%; /* 幅を指定 */
  border: none; /* ボーダーを非表示にする */
  border-bottom: 1px solid #ccc;
}