

header {
  width: 100%;
  background-color: #4682B4;
  font-weight: bold;
  color: #FFFFFF;
  height: 80px;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}





.logout-button button,
.login-button button {
  width: auto;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 5px;
  color: #000000;
  font-weight: bold;
}

footer{
  background-color: #4682B4;
  font-size: 0.8rem;
  color: #FFFFFF;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}