html {
    font-size: 62.5%;
    height: 1548px;
    width: 1440px;
    position: relative;

  }

  body {
    height: 1548px;
  }



header {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #1B5678;
  align-items: center;
}

.title {
  margin-right: auto;
  color: #FFFFFF;
  padding-left: 20px;
  font-size:30px;
}


.button-menu{
  width: 100px;
  height: 43px;
  border-radius: 4px ;
}

footer {
  background-color: #1B5678;
  font-size: 0.8rem;
  color: #FFFFFF;
  height: 40px;
  position: fixed; /* 固定位置に設定 */
  bottom: 0; /* 画面の下に配置 */
  left: 0; /* 左端に配置 */
  right: 0; /* 右端に配置 */
  text-align: center;
}




.show{
  width: 1,440px;
  height: 811px;
  background-color: #ccc;
  position: relative;
}



.image{
  height:390px;
  width: 45%;
  float: left;
  margin-right: 10px;
  background-color: #ccc;
}

.profile{
  height:390px;
  width: 50%;
  float: right;
}


.profile h1 {
  border-bottom: 1px solid #000; /* 下線を追加 */
  width:30%;
}

.edit-button {
  background-color: #1B5678;
  color: #FFFFFF;
  border-radius: 4px ;
  height: 45px;
  margin-left: 0;
}

.profile p{
  height:50px;
}

.user-info{
  width:50%;
}

.rounded-circle{
   border-radius: 50%;
   float: right;
}

.edit-header{
  width:100%;
  height:20%;
  text-align: center;
}

.skill {
  position: absolute;
  width: 960px ;
  height: 331px ;
  gap: 80px ;
  background-color: #ccc;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  text-align: center;

}

.skill-body{
  position:relative;
  height:151px;
  width:400px;
  margin:auto;
}

.skill-head{
  height:58px;
  width:400px;
  border-bottom: 1px solid #000000;
}

.skill-head h2{
  font-size: 36px;

}

.edit-skill-button{
  position: absolute;
  height:53px;
  width:144px;
  background-color: #1B5678;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  border-radius: 4px;
  color:#FFF;
}

.chart-container{
  position: absolute;
  height:572.5px;
  width: 1081px;
  top:877px;
  left:193px;
}




.center{
  text-align: center;

}

.sisson-inner{
  display: inline-block;
  text-align: left;
}

.login.title{
  color: #000000;
  margin-top: 100px;
  margin-bottom: 100px;
}

.input-underline{
  border: none;
  border-bottom: 1px solid black;
  width: 480px
}

.submit-button{
  background-color: #1B5678;
  color:#FFFFFF;
  width: 268px;
  height: 53px;
  border-radius: 4px;
  padding:16px 80px 16px 80px;

}






.aaa{
  height:342px;
  width: 960px;
  margin: auto;
  position: relative;
  display:flex;
  flex-flow: column;
　justify-content:space-between;
}

.user-edit-button {
  background-color: #1B5678;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%; /* 親要素の中央に移動するために左端を50%に */
  transform: translateX(-50%); /* 左に50%移動して中央に配置 */
  width: 322px;
  height: 53px;
  padding: 16px 80px 16px 80px;
  border-radius: 4px;
}

.text-area{
  width: 480px;
  height: 152px;
  gap: 7px;
  margin: auto;
  text-align: left;

}

.text-area-input{
  width: 100%; /* テキストエリアの幅を100%にする */
  border: none; /* ボーダーを削除 */
  border-radius: 0; /* 角の丸みを削除 */
  border-bottom: 1px solid #000; /* 下線を追加 */
  resize: none; /* ユーザーがサイズを変更できないようにする */

}

.image-area{
  height: 48px;
  width: 480px;
  gap: 7px;
  margin: auto;
  text-align: left;
  margin-top: 50px;
}



.custom-file-input {
  display: none;
}

.custom-file-label {
  background-color: #C0C0C0;
  color: #000;
  padding: 5px 10px;
  cursor: pointer;
}






.skill-container {
    width: 960px;
    height: 1338px;
    gap: 80px;
    margin: auto;

}

.skill-category {
    border: 1px solid black;
    width: 960px;
    height: 436px;
    border-radius: 8px;
    gap: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;

}






.skill-table {
    width: 880px;
    height: 283px;
    border-collapse: collapse;
    margin: auto;
}

.skill-card{
    margin: auto;
}


tbody{
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 影を追加 */
　border-radius: 4px;
}




  .thead th {
    background-color: #ccc;
    width:240px;/* 好みに合わせて適切な横幅を指定してください */
  }

.skill-table tr{
  border-bottom: 1px solid #ccc;
  height: 57px;


}

.header2{
  width: 230px;
}


.skill-table th,
.skill-table td {
    padding: 5px;
    border: none;
    text-align: center;
}


.skill-table-head{
  margin: auto;
  width: 880px;
  height: 48px;
  justify-content: space-between;
  display: flex;
}

.skill-button{
  height: 48px;
  background-color: #1B5678;
  color: #FFF;
  border-radius: 4px;
}

.right{

}


.left{
  font-size: 24px;
  border-bottom: 1px solid #000000;
  width: 240px;
}


.update-button{
  width: 172px;
  height: 32px;
  color: #1B5678;
  border-color: #1B5678;
  background-color: #fff;
  border-radius: 8px;

}

.delete-button{
  width: 172px;
  height: 32px;
  background-color: #EE6969;
  color: #fff;
  border-radius: 4px;
  border:none;
}

select{
  width: 160px;
  height: 40px;
  gap:10px;
}